@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import 'tailwindcss';


.k{
    background-color:#fafaf9 ;
}

@theme{
    --font-primary:Righteous,serif;
    --color-themePrimary:#fcfcfc;
    --color-borderPrimary:#fafaf9;
}